<div class="container">
    <h1>New Game</h1>
  <form (ngSubmit)="createGame()" #gameForm="ngForm">
        <div class="form-group">
            <label for="template">Template</label>
            <select class="form-control" id="templateName" [(ngModel)]="model.gameTemplate.id" name="templateName">
                <option *ngFor="let temp of templates" [value]="temp">{{temp}}</option>
            </select>
            
        </div>
        <div class="form-group">
            <label for="minPlayers">Min # Players</label>
            <input type="text" class="form-control" id="minPlayers"
            required
            [(ngModel)]="model.minPlayers" name="minPlayers"
            #minPlayers="ngModel">
            <div *ngIf="minPlayers.errors && (minPlayers.dirty || minPlayers.touched)"
                class="alert alert-danger">
                <div [hidden]="!minPlayers.errors.required">
                Minimum players is required
                </div>
                <div [hidden]="!minPlayers.errors.minlength">
                Name must be at least 4 characters long.
                </div>
                <div [hidden]="!minPlayers.errors.maxlength">
                Name cannot be more than 24 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="maxPlayers">Max # Players</label>
            <input type="text" class="form-control" id="maxPlayers"
            required
            [(ngModel)]="model.maxPlayers" name="maxPlayers">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!gameForm.form.valid">Submit</button>
    </form>
</div>